#!/bin/sh
#
# A precommit hook script to run perl script directly.
# The commit should not fail but print the checks to a file.

# Get all Racket files that are to be committed
for i in $(git diff --cached --name-only --diff-filter=A) 
do
  if [[ $i == "*.rkt" ]]
  then
    perl ./Code_checker/check_code_conventions.pl $i > "${i/\.rkt/}_checks.txt"
  fi
done
