#!/bin/sh
#
# A precommit hook script to run perl script directly.
# The commit should not fail but print the checks to a file.

# Get all Racket files that are to be committed
files=$(git diff --cached --name-only --diff-filter=A | find . -name "*.rkt" -type f)

for i in $files; do
  perl check-code.pl $i > echo "${i/\.rkt/}_checks.txt"
  done
